@font-face {
    font-family: "Symbola";
    src: url('fonts/symbola.ttf') format("truetype");
}

body {
  padding: 20px;
  font-family: sans-serif;
  background-color: #f9f9f9;
}

canvas {
  border: solid;
}

.problem {
  font-size: 32px;
}

.question {
  font-size: 20px;
  text-decoration: underline;
}

.equation {
  font-family: Cambria Math, Symbola;
  white-space: nowrap;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.term-input {
  font-size: 20px;
}

.coefficient-input {
  font-size: 20px;
  text-align: center;
  width: 2ch;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 4px;
}

.number-input {
  font-size: 20px;
  text-align: right;
  width: 3ch;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 24px;
}

.exponent-input {
  font-size: 12px;
  width: 1ch;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
}

@keyframes appear {
  0%   {background-color: #FFFF0040;}
  25%  {background-color: #FFFF0020;}
  50%  {background-color: #FFFF0010;}
  75%  {background-color: #FFFF0005;}
  100% {background-color: #FFFF0000;}
}

@keyframes correct {
  0%   {background-color: #00FF0040;}
  25%  {background-color: #00FF0020;}
  50%  {background-color: #00FF0010;}
  75%  {background-color: #00FF0005;}
  100% {background-color: #00FF0000;}
}

@keyframes error {
  0%   {background-color: #FF000040;}
  25%  {background-color: #FF000020;}
  50%  {background-color: #FF000010;}
  75%  {background-color: #FF000005;}
  100% {background-color: #FF000000;}
}

.appear-animation {
  animation-name: appear;
  animation-duration: 1s;
  padding: 4px;
  margin: -4px;
  border-radius: 2px;
}

.correct-animation {
  animation-name: correct;
  animation-duration: 1s;
  padding: 4px;
  margin: -4px;
  border-radius: 2px;
}

.error-animation {
  animation-name: error;
  animation-duration: 1s;
  padding: 4px;
  margin: -4px;
  border-radius: 2px;
}
