@font-face {
    font-family: "Symbola";
    src: url('fonts/symbola.ttf') format("truetype");
}

body {
  padding-left: 20px;
  padding-right: 20px;
  font-family: sans-serif;
  background-color: #f9f9f9;
}

canvas {
  border: solid;
}

button {
  margin: 4px;
}

fieldset {
  display: inline-block;
}

.nav-link {
  padding: 8px;
  margin-right: 8px;
  color:  #000000a0;
}

.nav-link:hover {
  color: black;
  border-color: #000000e0;
}

.nav-link:active {
  padding: 7px;
  background-color: #fcfcfc;
  border-style: solid;
  border-color: #00000010;
  border-width: 1px;
  border-radius: 4px;
}

.nav-selected {
  padding: 7px;
  color: black;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 4px;
}

.nav-selected:hover, .nav-selected:active {
  padding: 7px;
  color: black;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 4px;
}

.problem {
  font-size: 26px;
}

.problem-box {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8px;
  background-color: #ffffff;
  border: solid;
  border-width: 2px;
  border-radius: 4px;
}

.problem-box * {
  margin: 8px;
}

.question {
  font-size: 20px;
  text-decoration: underline;
}

.equation {
  font-family: Cambria Math, Symbola;
  white-space: nowrap;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.term-input {
  font-size: 20px;
}

.coefficient-input {
  font-size: 20px;
  text-align: center;
  width: 2ch;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 4px;
}

.number-input {
  font-size: 20px;
  text-align: center;
  width: 3ch;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 4px;
}

.exponent-input {
  font-size: 12px;
  width: 1ch;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
}

@keyframes appear {
  0%   {opacity: 0;}
  10%  {opacity: 0.03;}
  20%  {opacity: 0.0625;}
  30%  {opacity: 0.09;}
  40%  {opacity: 0.125;}
  50%  {opacity: 0.1875;}
  60%  {opacity: 0.25;}
  70%  {opacity: 0.375;}
  80%  {opacity: 0.5;}
  90%  {opacity: 0.75;}
  100% {opacity: 1;}
}

@keyframes correct {
  0%   {background-color: #00FF0040;}
  25%  {background-color: #00FF0020;}
  50%  {background-color: #00FF0010;}
  75%  {background-color: #00FF0005;}
  100% {background-color: #00FF0000;}
}

@keyframes error {
  0%   {background-color: #FF000040;}
  25%  {background-color: #FF000020;}
  50%  {background-color: #FF000010;}
  75%  {background-color: #FF000005;}
  100% {background-color: #FF000000;}
}

.appear-animation {
  animation-name: appear;
  animation-duration: 0.5s;
}

.correct-animation {
  animation-name: correct;
  animation-duration: 3s;
  padding: 4px;
  margin: -4px;
  border-radius: 2px;
}

.error-animation {
  animation-name: error;
  animation-duration: 2s;
  padding: 4px;
  margin: -4px;
  border-radius: 2px;
}
